fastapi
uvicorn[standard]
python-multipart
torch
torchvision
pillow
numpy
supervision
pydantic
pydantic-settings
rfdetr
python-dotenv
pyyaml
scipy
faster-coco-eval
pycocotools
tensorboard
calflops
transformers
loguru
